{
    "latestVersion": {
        "version": "__latestVersion__",
        "artifacts": {
            "linux-x64": "https://github.com/dn-vm/dnvm/releases/download/v__latestVersion__/dnvm-__latestVersion__-linux-x64.tar.gz",
            "osx-x64": "https://github.com/dn-vm/dnvm/releases/download/v__latestVersion__/dnvm-__latestVersion__-osx-x64.tar.gz",
            "win-x64": "https://github.com/dn-vm/dnvm/releases/download/v__latestVersion__/dnvm-__latestVersion__-win-x64.zip"
        }
    }
}